.card {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  position: relative;
}

.portraitBanner {
  display: none;
}

.wideBanner {
  display: block;
}

@media (max-width: em(750px)) {
  .portraitBanner {
    display: block;
  }

  .wideBanner {
    display: none;
  }
}

.control {
  background: white;
  width: 35px;
}

.indicator {
  background-color: white;
}
